<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">

  <title>Download books details</title>

  <!-- Bootstrap core CSS -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/dist/dropzone.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/pricing.css" rel="stylesheet">
</head>

<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">ISBN to Deatils</h5>
   
    <a disabled class="btn disabled  btn-outline-primary ml-auto" href="#">Books Searched : {{count}} </a>
  </div>

  {{!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.
      It's built with default Bootstrap components and utilities with little customization.</p>
  </div> --}}

  <div class="container">
    <div class="card-deck mt-4 pt-5  text-center ">

      <div class="card">

      <div class="card-body">


        <form id="uploadme1" method="POST" class="dropzone">
          <div id="" class="fallback">
            <input name="file" type="file" />
          </div>
        </form>

      </div>
      </div>
     
    </div>
    <div class="card-deck mt-4 pt-5 text-center">
          <a style="display: none;" type="button" href="/download" download class="btn btn-lg btn-block btn-outline-primary">Download</a>
    </div>

    {{!-- <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24"
            height="24">
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer> --}}
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/assets/js/vendor/popper.min.js"></script>
  <script src="/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/dist/dropzone.js"></script>
  <script src="/assets/js/vendor/holder.min.js"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
    Dropzone.autoDiscover = false;

    $(document).ready(e => {

      console.log('working');


      $("#uploadme1").dropzone({
        paramName: 'samples',
        url:'/upload',
        dictDefaultMessage: "Upload isbn csv",
        clickable: true,
        acceptedFile: "text/csv/*",
        addRemoveLinks: true,
        enqueueForUpload: false,
        //maxFilesize: 1,
        uploadMultiple: false,
        dictRemoveFile: "Clear File",
        init: function () {
          this.on("addedfile", function (file) {
            $('a.btn').hide();
            alert("Added file.");
          }),
            this.on("success", function (file, response) {
              console.log(response.data);
              $('a.btn').show();
            });
        }
      });


    });

  </script>
</body>

</html>